.grid {
  display: grid;
  gap: 10px;
  grid-template-columns:
    [first] 100px [second] 100px [third] 100px
    [fourth] 100px [fifth];
  grid-template-rows: repeat(4, 100px);
}

.header {
  background: green;
  /* 컬럼이 아니라 line */
  /* span은 줄이 아니라 칸 수. 음수는 안 된다. */
  grid-column: span 4;
}
/* span을 사용할 때 시작점이 필요하면 지정할 수 있다. */
.content {
  background: yellow;
  grid-column: first / fourth;
  grid-row: span 2;
}

.nav {
  background: red;
  grid-row: span 2;
}

.footer {
  background: blue;
  grid-column: 1 / 5;
}
