.parent {
  display: flex;
  /* main axis */
  justify-content: space-evenly;
  /* cross axis */
  align-items: flex-start;
  height: 100vh;
}

.children {
  display: flex;
  flex-basis: 300px;
  justify-content: center;
  align-items: center;

  background-color: peru;
  color: white;
  font-size: 25px;
}

.children:nth-child(2) {
  background: #000;
  flex-wrap: 1;
}
