@mixin sexyTitle {
  color: blue;
  font-size: 30px;
  margin-bottom: 10px;
}

@mixin link($word) {
  text-decoration: none;
  display: block;
  @if $word == "odd" {
    color: purple;
  } @else {
    color: yellow;
  }
}
